[submodule "dependencies/fltk"]
	path = dependencies/fltk
	url = https://github.com/fltk/fltk.git
[submodule "dependencies/libxlsxwriter"]
	path = dependencies/libxlsxwriter
	url = https://github.com/jmcnamara/libxlsxwriter.git
[submodule "dependencies/zlib-cmake"]
	path = dependencies/zlib-cmake
	url = https://github.com/jimmy-park/zlib-cmake.git
[submodule "dependencies/QXlsx"]
	path = dependencies/QXlsx
	url = https://github.com/QtExcel/QXlsx.git
[submodule "dependencies/tinyxml2"]
	path = dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
